
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserEventsLabel" data-translate="airlineApp.userEvents.home.createOrEditLabel">Create or edit a User Events</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userEvents.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userEvents.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="airlineApp.userEvents.runDate" for="field_runDate">Run Date</label>
                <div class="input-group">
                    <input id="field_runDate" type="text" class="form-control" name="runDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userEvents.runDate" is-open="vm.datePickerOpenStatus.runDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('runDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.runDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.runDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="airlineApp.userEvents.fromCity" for="field_fromCity">From City</label>
            <input type="text" class="form-control" name="fromCity" id="field_fromCity"
                    ng-model="vm.userEvents.fromCity"
                    required />
            <div ng-show="editForm.fromCity.$invalid">
                <p class="help-block"
                    ng-show="editForm.fromCity.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="airlineApp.userEvents.toCity" for="field_toCity">To City</label>
            <input type="text" class="form-control" name="toCity" id="field_toCity"
                    ng-model="vm.userEvents.toCity"
                    required />
            <div ng-show="editForm.toCity.$invalid">
                <p class="help-block"
                    ng-show="editForm.toCity.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="airlineApp.userEvents.departDate" for="field_departDate">Depart Date</label>
                <div class="input-group">
                    <input id="field_departDate" type="text" class="form-control" name="departDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userEvents.departDate" is-open="vm.datePickerOpenStatus.departDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('departDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.departDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.departDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="airlineApp.userEvents.returnDate" for="field_returnDate">Return Date</label>
                <div class="input-group">
                    <input id="field_returnDate" type="text" class="form-control" name="returnDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userEvents.returnDate" is-open="vm.datePickerOpenStatus.returnDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('returnDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.returnDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.returnDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="airlineApp.userEvents.runStatus" for="field_runStatus">Run Status</label>
            <select class="form-control" id="field_runStatus" name="runStatus" ng-model="vm.userEvents.runStatus" ng-options="runStatus as runStatus.id for runStatus in vm.runstatuses track by runStatus.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="airlineApp.userEvents.userPreference" for="field_userPreference">User Preference</label>
            <select class="form-control" id="field_userPreference" name="userPreference" ng-model="vm.userEvents.userPreference" ng-options="userPreference as userPreference.id for userPreference in vm.userpreferences track by userPreference.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
