<div>
    <h2 data-translate="airlineApp.userEvents.home.title">User Events</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-events.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="airlineApp.userEvents.home.createLabel">
                        Create new User Events
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="runDate"><span data-translate="airlineApp.userEvents.runDate">Run Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromCity"><span data-translate="airlineApp.userEvents.fromCity">From City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toCity"><span data-translate="airlineApp.userEvents.toCity">To City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="departDate"><span data-translate="airlineApp.userEvents.departDate">Depart Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="returnDate"><span data-translate="airlineApp.userEvents.returnDate">Return Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="runStatus.id"><span data-translate="airlineApp.userEvents.runStatus">Run Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userPreference.id"><span data-translate="airlineApp.userEvents.userPreference">User Preference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userEvents in vm.userEvents track by userEvents.id">
                    <td><a ui-sref="user-events-detail({id:userEvents.id})">{{userEvents.id}}</a></td>
                        <td>{{userEvents.runDate | date:'mediumDate'}}</td>
                    <td>{{userEvents.fromCity}}</td>
                    <td>{{userEvents.toCity}}</td>
                        <td>{{userEvents.departDate | date:'mediumDate'}}</td>
                        <td>{{userEvents.returnDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="run-status-detail({id:userEvents.runStatus.id})">{{userEvents.runStatus.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="user-preference-detail({id:userEvents.userPreference.id})">{{userEvents.userPreference.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-events-detail({id:userEvents.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-events.edit({id:userEvents.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-events.delete({id:userEvents.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
